<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite thread-count="1" verbose="1" name="API Suite" annotations="JDK" parallel="tests">
    <test name="Sign Up and Login E2E" >
        <classes>
            <class name="cocus.login.SignUpLoginE2E" />
        </classes>
    </test>
    <test name="Search and Reserve a flight" >
        <classes>
            <class name="cocus.login.ReserveBookingFlight" />
        </classes>
    </test>

</suite>